Package: ubuntukylin-feedback
Version: 0.1
Architecture: i386
Maintainer: xiaoyiwu <xiaoyiwu@ubuntukylin.com >
Installed-Size: 83
Depends: libc6 (>= 2.0), libcurl3-nss (>= 7.23.1), libgcc1 (>= 1:4.1.1), libqt4-network (>= 4:4.8.0), libqtcore4 (>= 4:4.8.0), libqtgui4 (>= 4:4.8.0), libqtwebkit4, libstdc++6 (>= 4.1.1)
Section: utils
Priority: extra
Homepage: http://code.google.com/p/fcitx
Description: ubuntukylin-feedback for ubuntukylin
