[Desktop Entry]
Name=ubuntukylin-feedback
Name[zh_CN]=ubuntukylin-feedback.desktop
Comment=意见和建议-UbuntuKylin
Exec=/usr/bin/ubuntukylin-feedback
Icon=ubuntukylin_feedback.png
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;RasterGraphics;Viewer;Utility;Network;
